body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: darkgray;
}
#compass {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: 25%; */
  margin: 5% 40% -5%;
  width: 50px;
  height: 50px;
  padding: 25px 25px;
  font-size: 4em;
  font-family: sans-serif;
  border-radius: 100%;
  box-shadow: 1px 1px 10px black;
  text-shadow: 1px 1px 2px black;

  /* border: 2px solid goldenrod; */
}
#coord {
  width: 100%;
  text-align: center;
  font-size: 5em;
  text-shadow: 1px 1px 2px black;
  /* border: 2px solid black; */
}
