body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: darkgray;
}
#compass {
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 40% -50px;
  width: 50px;
  height: 50px;
  padding: 25px 25px;
  font-size: 4em;
  font-family: sans-serif;
  border-radius: 100%;
  box-shadow: 1px 1px 10px black;
  text-shadow: 1px 1px 2px black;
}
#coord {
  width: 100%;
  text-align: center;
  font-size: 5em;
  text-shadow: 1px 1px 2px black;
}
#info {
  background-image: url("scroll.png");
  background-size: cover;
  text-align: center;
  margin: -75px;
  text-shadow: 0.5px 0.5px 1.5px black;
  padding: 15% 5%;
  width: 300px;
}
